.navLinks {
  list-style: none;
  text-align: center;
}

.navLinks li {
  display: inline-block;
  margin: 0 5px;
}

.navLinks a {
  text-decoration: none;
  color: black;
}

.navLinks a:hover {
  color: gold;
}
